doctype=html
html
	head
		title Simple Docker Compose
	body
		h1 Ejemplo simple de docker compose
		form(id="form-login")
			| Nombre:
			input(id="form-name" type='text', name='name', value='')
			input(type='submit', value='Saludar desde la api')
		
		script.
			const formLogin = document.querySelector('#form-login');
			formLogin.addEventListener('submit', function(event) {
				const formNameValue = document.querySelector('#form-name').value;
				console.log('Form Data: ', formNameValue);
				event.preventDefault();
				let _datos = {
					name: formNameValue
				}
				fetch('/saludar', {
					method: 'POST',
					body: JSON.stringify(_datos),
					headers: {"Content-type": "application/json; charset=UTF-8"}
				})
					.then(async (response) => {
						const res = await response.json();
						console.log("<<<<",res)
						res.status = response.status;
						return res;
					}) 
					.then(json => {
						if (json.status >= 300) {
							alert(`Error de la api: ${JSON.stringify(json)}`)
							console.log("Error de la api:", JSON.stringify(json))
						} else {
							alert(`Respuesta de la api: ${json.saludo}`)
							console.log("Respuesta de la api:", json.saludo)
						}
					})
					.catch(err => {
						alert(`Error consultando la api: ${err}`)
						console.log("Error consultando la api:", JSON.stringify(err))
					});
			});
